img,video,audio{
    max-width: 100%;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(229, 248, 213);
}
.wrapper div{
    width: 500px;
    padding: 10px;
}
/*//////////////////Mohammed/////////////*/
/*////////////////////Section Team///////////*/
#team div:first-child{
    text-align: center;
    background-color: #f1f4f5;
    margin: 0;
    
    padding:5%  ;

}
#team div h1{
    font-size:3em;
    font-weight: 200;
margin-bottom: 0;}
#team div h1 strong{
    font-weight: 900;
}
#team div p{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    font-size: 1.3em;
}

#team div#imags{
    padding: 5% 0;
    background-color: #3a3c42;
    display: flex;
    align-items: baseline;
}

#team div#imags img{
    width: 16.66667%;
}
/*////////////////////section Team///////////*/

/*////////////////////section contact///////////*/

section#contact{
    display: flex;
    justify-content: center;
    background-color: #4fc680;
    /* width: 50%; */
    padding: auto;
    flex-direction: column;

}
/* #social{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(229, 248, 213);
} */
#social div{
    /* width: 40%; */
    color: #fff;
}
#social div:first-child h1{
    font-size: 2.5em;
    font-weight: 200;
    margin-bottom: 0em;
}

#social div:first-child p{
    font-size: 1.3em;
}

#icons{
    display: flex;
    justify-content: space-around;
    font-size: 3em;
    align-items: center;

}
#icons i{
    color: #fff;

}

/* #send{
    display: flex;
    justify-content: space-between;
    padding: 10px;
} */
#send div{
    /* width: 45%; */
    color: #fff;
}
#send div#messege form input,textarea{
    width: 100%;
    margin: 5px 0 10px 0;
    border-radius: 5px;

}
#send div#messege form input[type="submit"]{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: #fff;
    color: black;
}
input{
    padding: 10px 0;
}
#send div#messege form label{
    padding:15px 0 5px 0;
}

#send div:last-child img{
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #fff;
}
#send div:last-child p a{
    text-decoration: none;
    color:black;
}


/*/////////////////MOHAMMED///////////////*/